body {
  background-color: #1b4e7a;
  color: #1b4e7a;
}
aside div {
  background-color: #ff8800;
  color: #1b4e7a;
  border-radius: 5px;
}
.btn-secondary {
  --bs-btn-color: #ff8800;
  --bs-btn-bg: #1b4e7a;
  --bs-btn-border-color: #ff8800;
  --bs-btn-hover-color: #1b4e7a;
  --bs-btn-hover-bg: #ff8800;
  --bs-btn-hover-border-color: #1b4e7a;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1b4e7a;
  --bs-btn-active-border-color: #1b4e7a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}
.card {
  background-color: #ff8800;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#superContainer img {
  height: 100px;
}

.modal {
    --bs-modal-bg: #ff8800;
}
header {
  background-color: #ff8800;
}

h1 {
  color: #1b4e7a;
  font-weight: bold;
}
.form-control {
  color: #ff8800;
  background-clip: padding-box;
  border: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #ff8800;
  background-color: #1b4e7a;
  border-color: #86b7fe;
}
.form-floating > .form-control:focus ~ label {
  color: #ff8800;
}
.form-floating > .form-control:focus ~ label::after {
  background-color: transparent;
}

.form-floating > .form-control::placeholder {
  color: #ff8800;
  opacity: 1;
}
#details img {
  max-height: 60vh;
}